.randomResults {
  font-family: "Oxygen", sans-serif;
  margin: 50px;
}

.cocktailName {
  margin: 50px;
  font-size: 40px;
}

.drinkType {
  font-style: italic;
  font-size: 20px;
  opacity: 80%;
}

.cocktailImg {
  margin: 10px;
}

.ingredient {
  text-align: left;
  margin: 10px;
  font-size: 20px;
}

.instructions {
  text-align: left;
  margin: 10px;
  font-size: 25px;
}

@media (max-width: 800px) {
  .randomResults {
    margin-top: 0px;
  }
}
